@import '../../../styles/colors';

.finance-offer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    .finance-header{
        font-size: 20px;
        font-weight: 500;
        padding: 12px;
        border-bottom: 1px solid $card-color;
        margin-bottom: 15px;
        width: 90%;
        text-align: center;
    }

    .finance-interest{
        font-size: 18px;
    }
    .finance-slider{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .finance-summary{
        display: flex;
        flex-direction: column;
        font-size: 16px;
        row-gap: 12px;
        margin-top: 15px;
    }
    .go-back-btn{
        margin-top: 40px;
    }
}